<mat-toolbar color="primary">
  <a mat-button routerLink="/" id="FireApp">
    <mat-icon>whatshot</mat-icon>
    <span>Fire App</span>
  </a>
  <a mat-button routerLink="/chat">
    Chat
  </a>
  <span class="fill"></span>
  <span *ngIf="authService.currentUser !== null">{{ (authService.currentUser).displayName }}</span>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="signOut()" *ngIf="(authService.authenticated)">
      <mat-icon>person</mat-icon>
      <span>Sign Out</span>
    </button>
    <button mat-menu-item (click)="navigateToSignIn()" *ngIf="!(authService.authenticated)">
      <mat-icon>person</mat-icon>
      <span>Sign In</span>
    </button>
    <button mat-menu-item (click)="navigateToSignUp()">
      <mat-icon>person_add</mat-icon>
      <span>Sign Up</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>