mat-card {
    width: 350px;
    margin: 200px auto;
}

mat-card-subtitle.color-red {
    color: #F44336;
}

mat-form-field {
    width: 100%;
}

.btn-group {
    display: flex;
}

.btn-group > button {
    height: 100%;
}