.mat-checkbox-inner-container {
    height: 16px;
    width: 16px;
}

.chat-container {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.channels-container {
    overflow: hidden;
    padding: 20px;
    background: rgba(0, 0, 0, 0.03);
    flex: 0 0 auto;
}

.messaging-container {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-flow: column;
}

.messaging-container > .channel-header {
    background-color: #fff;
    padding: 15px;
}

.messages-container {
    flex: 1 1 auto;
    overflow: auto;
    padding-top: 10px;
}

.messages-container mat-card {
    margin: 0px 10px 10px 10px;
    display: inline-block;
    padding: 10px;
    max-width: 80%;
}

.messages-container mat-card mat-card-subtitle {
    font-size: 0.8em;
    margin-bottom: 5px;
    display: flex;
}

.messages-container mat-card mat-card-subtitle span:first-of-type {
    padding-right: 20px;
}

.messages-container mat-card mat-card-content {
    white-space: pre-wrap;
    word-break: break-word;
}

.message-input-container {
    flex: 0 1 auto;
    padding-top: 10px;
    background-color: #fff;
}

.message-input-container > form {
    display: flex;
}

.message-input-container > form > mat-form-field {
    flex: 1 1 auto;
    margin: 0 20px;
}

.message-input-container > form > mat-form-field textarea {
    resize: none;
    height: 150px;
}