<form class="new-channel">
  <mat-form-field>
    <input matInput placeholder="Channel Name" [formControl]="newChannelName">
    <mat-error *ngIf="newChannelName.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <button mat-icon-button (click)="createChannel(newChannelName)">
    <mat-icon>add_box</mat-icon>
  </button>
</form>
<div class="channel-list">
  <div *ngFor="let channel of publicChannels">
    <a mat-button color="accent" [routerLink]="['/chat', channel]">{{ channel }}</a>
  </div>
</div>