div.channel-list {
    max-width: 224px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.channel-list a {
    padding: 0px 5px;
    text-align: left;
    min-width: 224px;
}

.mat-button {
    line-height: 25px;
}