<mat-card>
  <mat-card-title>
    Signup
  </mat-card-title>
  <mat-card-subtitle class="color-red">{{ errorMessage }}</mat-card-subtitle>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="email" placeholder="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password" placeholder="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="confirmPassword" placeholder="confirm password">
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="signup()" [disabled]="!email || !password || !confirmPassword">
      Login
    </button>
  </div>
</mat-card>