<mat-expansion-panel [expanded]="expansionState.isCreateChannelExpanded"
  (opened)="expansionState.isCreateChannelExpanded = true" (closed)="expansionState.isCreateChannelExpanded = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Create Channel
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form class="create-channel">
    <div>
      <mat-checkbox [(ngModel)]="isNewChannelPublic" name="isPublicChannel" color="accent"></mat-checkbox>
      <span>Public</span>
    </div>
    <mat-form-field>
      <input matInput placeholder="Channel Name" [formControl]="newChannelName"/>
      <mat-error *ngIf="newChannelName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="newChannelName.invalid" color="accent" (click)="createChannel(isNewChannelPublic, newChannelName)">
      Create
    </button>
  </form>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="expansionState.isPublicChannelsExpanded"
  (opened)="expansionState.isPublicChannelsExpanded = true" (closed)="expansionState.isPublicChannelsExpanded = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Public Channels
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Filter" [(ngModel)]="filterInput">
  </mat-form-field>
  <div class="channel-list">
    <div *ngFor="let channel of publicChannels | search: filterInput">
      <a mat-button color="accent" (click)="routeToChannel(channel)">{{ channel }}</a>
    </div>
  </div>
</mat-expansion-panel>