/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    background-color: #fafafa;
}

body {
    height: 100%;
    margin: 0px;
    position: relative;
}

.fill {
    flex: 1 1 auto;
}

.color-red {
    color: #F44336;
}

.content-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}

app-header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}